{% load static %}
<div class="footer_section p-4">
    <div class="container">
       <div class="row">
          <div class="col-lg col-sm">
             <h1 class="adderss_text">Póngase en contacto</h1>
             <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"><span class="paddlin_left_0">Lorem Ipsum </span></div>
             <div class="map_icon"><img src="{% static 'images/call-icon.png' %}"><span class="paddlin_left_0">+34 692 30 94 XX</span></div>
             <div class="map_icon"><img src="{% static 'images/mail-icon.png' %}"><span class="paddlin_left_0">asoc.tercerajuventud@gmail.com</span></div>
             <div class="footer_logo mt-4"><a href="index.html"><img src="{% static 'images/footer-logo.png' %}"></a></div>

          </div>
          <div class="col-lg col-sm">
             <h1 class="adderss_text">Colaboraciones</h1>
             <p class="Useful_text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
             <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
               </ul>
            </div>
          </div>
          <div class="col-lg col-sm">
             <h1 class="adderss_text">¿Quieres estar al corriente de nuestros eventos?</h1>
             <p class="Useful_text">Subscríbete y recibe emails blah blah blah.</p>
             <input type="text" class="Enter_text" placeholder="Email" name="Email">
             <div class="subscribe_bt"><a href="#">Subscribirse</a></div>
          </div>
       </div>
    </div>
 </div>